# {{ ansible_managed }}

[Unit]
Description=Atlassian Bamboo
After=syslog.target network.target

[Service]
ExecStart={{ bamboo_catalina }}/bin/start-bamboo.sh
ExecStop={{ bamboo_catalina }}/bin/stop-bamboo.sh
PIDFile={{ bamboo_catalina }}/work/catalina.pid
Type=forking
User={{ bamboo_owner }}
Group={{ bamboo_group }}

[Install]
WantedBy=multi-user.target
