# {{ ansible_managed }}

[Unit]
Description=Atlassian Bamboo
After=syslog.target

[Service]
User=daemon
Group=daemon
ExecStart=/etc/init.d/bamboo start
ExecStop=/etc/init.d/bamboo stop
PIDFile=/opt/atlassian/bamboo/work/catalina.pid

[Install]
WantedBy=multi-user.target
